body {
    font-family: "DE3 Display Egyptian",sans-serif;

}

h1 {
    font-size: 2em;
    text-align: right;
    margin-bottom: 1em;
}

h2 {
    margin-top: 0;
    margin-bottom: 0.75em;
}

div.sidebar {
    float: left;
    width: 25vw;
    overflow: hidden;
}

li.selector {
    cursor: pointer;
    list-style: none;
    padding: 4px 8px 4px;
    border-top: 1px solid blue;
    border-bottom: 1px solid blue;
    text-align: right;
}

li.selector:hover {
    border-right: 3px solid blue;
}